.App {
  display: flex;
  background-color: rgb(199, 197, 197);
}

.column {
  border:1px #ccc solid;
  flex-grow: 1;
  margin: 25px;
  text-align: center;
  background-color: rgb(135, 195, 222);
}

.card {
  padding: 25px;
  display: flex;
  background-color: aliceblue;
  border-color: grey;
}

.card span {
  flex-grow: 1;
  text-align: center;
}